* {
  box-sizing: border-box;
}

/* three equal columns */
.c {
  float: left;
  width: 32%;
  margin-left: 1%;
  margin-bottom: 5%;
  padding: 10px;
  height: 600px;
}

/* Clear floats after the columns */
.r:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  margin: 2%;
}

