.navbar {
  width: 100%;
  background-color: #e04f42;
}
body {
  font-family: sans-serif;
  background-color: #ecf5f4;
  overflow: auto;
  height: auto;
}
.btn {
  background-color: #e04f42;
  border-color: #e04f42;
  color: #ecf5f4;
}
.links {
  width: 75%;
}
.links a {
  float: left;
  padding: 12px;
  color: #212726;
  font-size: 17px;
  margin-right: 3%;
  margin-left: auto;
  text-decoration: underline solid;
}
.logo {
 margin-top: auto;
 text-align: center;
}
.main-body a:link {
  color: #e04f42;
}
i {
  color: #212726;
  margin-right: 4%;
  padding: 3%;
}
p { 
  padding-top: 2%;
  text-align:center;
}
.headings {
  padding-top: 3%;
  text-align: center;
}
.gmap_canvas {
  overflow:hidden;background:none!important;height:500px;width:600px;
}
iframe {
  width:100%;height:100%;
}
.mapouter {
  color: #8ca19e;
  position:relative;
  text-align:right;
  height:500px;
  width:600px;
  padding: 1.5%;
  margin-bottom: 7%;
  
}

/* Three image containers (use 25% for four, and 50% for two, etc) 
.column {
  float: center;
  width: 10.33%;
  padding: 0px;
}

/* Clear floats after image containers 
.row::after {
  content: "";
  clear: both;
  display: tables;
}
/* three equal columns */
.container_d-flex_flex-column {
  float: left;
  width: 32%;
  margin-left: 1%;
  margin-bottom: 5%;
  padding: 10px;
  height: 600px;
}

.c {
  float: left;
  width: 32%;
  margin-left: 1%;
  margin-bottom: 5%;
  padding: 10px;
  height: 600px;
}

#content-container {
  width: 7000px ;
  margin: 0  auto;
  float: right;
}

html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: rgb(159, 27, 27);
 } 
 
 #middle {
  margin-top: 1%;
  padding-bottom: 1%;
 } 

 #vid {
  display: flex;
flex-direction: column;
align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month_march {
padding: 70px 25px;
width: 100%;
background: #e04f42;
text-align: center;
}

.month_april {
  padding: 70px 25px;
  width: 100%;
  background: #e04f42;
  text-align: center;
}

.month_february {
  padding: 70px 25px;
  width: 100%;
  background: #e04f42;
  text-align: center;
}

/* Month list */
.month_march ul {
margin: 0;
padding: 0;
}

.month_april ul {
  margin: 0;
  padding: 0;
}

.month_february ul {
  margin: 0;
  padding: 0;
}

.month_march ul li {
color: white;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

.month_april ul li {
color: white;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

.month_february ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month_march .prev {
float: left;
padding-top: 10px;
}

.month_april .prev {
  float: left;
  padding-top: 10px;
}

.month_february .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month_march .next {
float: right;
padding-top: 10px;
}

.month_april .next {
  float: right;
  padding-top: 10px;
}

.month_february .next {
  float: right;
  padding-top: 10px;
}


.disappear_april {
  display:none;
}

.disappear_march {
  display:none;
}

/* Weekdays (Mon-Sun) */
.weekdays {
margin: 0;
padding: 10px 0;
background-color:#ddd;
}

.weekdays li {
display: inline-block;
width: 13.6%;
color: #666;
text-align: center;
}

/* Days (1-31) */
.days {
padding: 10px 0;
background: #eee;
margin: 0;
}

.days li {
list-style-type: none;
display: inline-block;
width: 13.6%;
text-align: center;
margin-bottom: 5px;
font-size:12px;
color: #777;
}

/* Highlight the "current" day */
.days li .active {
padding: 5px;
background: #e04f42 ;
color: white !important
}

.no-bullet{
  list-style-type: none
}