.navbar {
  width: 100%;
  background-color: #8ca19e;
}
body {
  font-family: sans-serif;
  background-color: #ecf5f4;
  overflow: auto;
  height: auto;
}
.fa-user{
  width: 25px;
  height: 20px;
  right: 40px;
  top: 30px;
}
.fa-globe{
  width: 100px;
  height: 20px;
  right: 40px;
  top: 30px;
}
label{
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  top: 28px;
  border: 2px solid;
  border-radius: 20px;
}
label:before{
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  transition: 0.4s;
}
label.active:before{
  left: 24px;
  background: #fff;
}
body.night{
  background: #000;
  color: #fff;
}
.btn {
  background-color: #8ca19e;
  border-color: #8ca19e;
  color: #ecf5f4;
}
.links {
  width: 75%;
}
.links a {
  float: left;
  padding: 12px;
  color: #212726;
  font-size: 17px;
  margin-right: 3%;
  margin-left: auto;
  text-decoration: underline solid;
}
.logo {
 margin-top: auto;
 text-align: center;
}
.main-body a:link {
  color: #8ca19e;
}
i {
  color: #212726;
  margin-right: 4%;
  padding: 3%;
}
p { 
  padding-top: 2%;
  text-align:center;
}
.headings {
  padding-top: 3%;
  text-align: center;
}
.gmap_canvas {
  overflow:hidden;background:none!important;height:500px;width:600px;
}
iframe {
  width:100%;height:100%;
}
.mapouter {
  color: #8ca19e;
  position:relative;
  text-align:right;
  height:500px;
  width:600px;
  padding: 1.5%;
  margin-bottom: 7%;
  
}
