.main-body {
  margin: 5%;
  float: left;
  text-align: center;
}
.heading {
  padding-top: 2%;
  margin-bottom: 7% ;
  text-align: left;
  font-size: 60px;
}

/*CSS base used fromhttps://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ and edited to match colourscheme etc.*/
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  margin: 5%;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #9dcfff;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #009a84;
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}
.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}