<!-- THIS PAGE ALLOWS USER TO SEND FEEDBACK, AND RATINGS USING THEIR BOOKING REFERENCE NUMBER AND EMAIL, THE EMPLOYEE CAN VIEW ALL OF THIS AND PRIORITISE IT LATER ON-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'login.css' %}">
    <link rel="stylesheet" href=" {% static 'about.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <a href="/orderhistory">Orders</a>
      <!-- sprint 3- add a socials page-->
      <a href="/safety">Safety</a>
      <a href="/about">About Us</a>
      <a href="/scooterList">Scooter List</a>
  
    </div>
    <div class="logo"><a href="/first"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="/home#middle"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    
          <script>
            var content = document.getElementsByTagName('body')[0];
            var darkMode = document.getElementById('dark-change');
            darkMode.addEventListener('click', function(){
                darkMode.classList.toggle('active');
                content.classList.toggle('night');
            })
        </script>

    <div class="headings">
        <h1>About Us</h1>

        <div class="box">
          Sküt is a scooter hiring service in Leeds, we aim to make your journeys in Leeds faster, easier and greener. Not only is it a fun way to travel in Leeds, if you choose to use our electric scooters over a bus or car, it is also greener!
        </div>

      </div>


      <div class="container d-flex flex-column justify-content-center align-items-center">
        <form action="feedback" method="POST">
          {% csrf_token %}

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
           
            <div class="form-group">
                <label for="bookRef">Booking Reference</label>
                <input type="text" class="form-control" id="bookRef" name="bookRef" placeholder="Booking Reference">
            </div>
            <div class="form-group">
              <label for="rating">Sküt Rating</label>
              <select id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
          </div>
          <div class="form-group">
            <label for="comment">Comments</label>
            <textarea id="comment" name="comment" rows="4" cols="20" class="form-control" placeholder="Feedback we can use to improve your Sküt experience"></textarea>
            
        </div>
            <input type="submit" class="btn btn-primary" style="background-color: #8ca19e; border-color:#8ca19e;">
            <div class="box">
              {{submission}}
            </div>
            <br><br>

        <!--<form action="feedback" method="POST">
          {% csrf_token %}             
          Email: <input type = "text" name = "email" >
          Booking Reference: <input type = "text" name = "bookRef" >          
          Rating:<select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          Comment: <input type = "textarea" name = "comment" >

          <button type="submit">Send Feedback</button>
          <div class="box">
            {{submission}}
          
          </div>-->
        </form>

    <br><br>

  </body>
  
  </html>
