{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'login.css' %}">
    <link rel="stylesheet" href=" {% static 'about.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
    <div class="links">
    <a href="/first">Home</a>
    <!-- Add this in for other home page <a href="#">Wallet</a> -->
    <a href="/initialSafety">Safety</a>
    <a href="/aboutF">About Us</a>

  </div>

  <div class="logo"><a href="first"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
  
  <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
  <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
  <label id="dark-change"></label>
        </div>
    
    
          <script>
            var content = document.getElementsByTagName('body')[0];
            var darkMode = document.getElementById('dark-change');
            darkMode.addEventListener('click', function(){
                darkMode.classList.toggle('active');
                content.classList.toggle('night');
            })
        </script>

    <div class="headings">
        <h1>About Us</h1>

        <div class="box">
          Sküt is a scooter hiring service in Leeds, we aim to make your journeys in Leeds faster, easier and greener. Not only is it a fun way to travel in Leeds, if you choose to use our electric scooters over a bus or car, it is also greener!
        </div>

      </div>

      <br><br>

    </body>
  
    </html>