<!-- THIS PAGE IS THE BOOKING PAGE, CHOOSE A SCOOTER LOCATION *(QUANTITY SHOULD NOT BE THERE AS ONLY 1 CAN BE BOOKED AT A TIME)*, MAKE A PAYMENT (SAVE CARD DETAILS)...-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src= {% static "booking.js" %}></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    

    <title>Sküt </title>
  </head>

  <body>
    Logged in as: {{userEmail}}
    <div class="navbar">
      <div class="links">
          <a href="/home">Home</a>
          <a href="/orderhistory">Orders</a>
          <!-- sprint 3- add a socials page-->
          <a href="/safety">Safety</a>
          <a href="/about">About Us</a>
          <a href="/scooterList">Scooter List</a>
  
    </div>

    <div class="logo"><a href="/home"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="/home#middle"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
  </div>

  <script>
    var content = document.getElementsByTagName('body')[0];
    var darkMode = document.getElementById('dark-change');
    darkMode.addEventListener('click', function(){
        darkMode.classList.toggle('active');
        content.classList.toggle('night');
    })
</script>

    <div class="main-body">
      <div class="headings"><h1>Booking a Trip</h1></div><br>

    <form action="userBooking" method="POST">
      {% csrf_token %}
    <div class="r">
      <div class="c" style="background-color:#a8bdba;">
       <h2>Booking Options</h2>
       <br>
       <p style="text-align: left;">How many scooters would you like?</p>
       <div style="background-color: #8ca19e; border-color: #8ca19e; width: 27%;">
       <label for="scooters" style="margin-left: 3%; margin-top: 4%;">Quantity: </label>
        <select name="scooters" id="scooters">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select></div>

      {{errMsg}}
      <p style="text-align: left;">Which Location?</p>
       <div style="background-color: #8ca19e; border-color: #8ca19e; width: 27%;">
       <label for="location" style="margin-left: 3%; margin-top: 4%;">Location: </label>
        <select name="location" id="location">
        <option value="A">Trinity Centre</option>
        <option value="B">Train Station</option>
        <option value="C">Merrion Centre</option>
        <option value="D">LGI Hospital</option>
        <option value="E">UoL Edge sports centre</option>
      </select></div>
      <br><br>

        <p style="text-align: left;">How long do you want to ride for?</p>
        <input type="radio" name="dur" value="1" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayement1h()">1 hour</input>
        <input type="radio" name="dur" value="4" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayement4h()">4 hours</input>
        <input type="radio" name="dur" value="24" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayement1d()">1 day</input>
        <input type="radio" name="dur" value="168" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayement1w()">1 week</input>
    </div>
    <div class="c" style="background-color:#bccecb;">
        <h2>Payment</h2>
        <div id="payment1h" style="display: none;">
          <p>Paying for 1 hour</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" id="price1" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" class="cname" name="cardname1" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" class="cardnum" name="cardnum1" placeholder="Enter card number">
            </div>
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" class="expdate" name="expdate1" placeholder="Enter expiry date (MMYY)">
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv1" placeholder="Enter CVV number">
            </div>
            <input id="" type="checkbox" name="cardcheck">Would you like to save your card information?</input>
            <button class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayConfirm()">Confirm payment</button>
        </div> 
        </div>
        <div id="payment4h" style="display: none;">
          <p>Paying for 4 hours</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" id="price2" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" class="cname" name="cardname2" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" class="cardnum" name="cardnum2" placeholder="Enter card number">
            </div>
    
    
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" class="expdate" name="expdate2" placeholder="Enter expiry date (MMYY)">
            </div>
    
    
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv2" placeholder="Enter CVV number">
            </div>
    
            <input id="" type="checkbox" name="cardcheck">Would you like to save your card information?</input>
            <button type="submit" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayConfirm()">Confirm payment</button>
        </div>
        </div>
        <div id="payment1d" style="display: none;">
          <p>Paying for 1 day</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" id="price3" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" class="cname" name="cardname3" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" class="cardnum" name="cardnum3" placeholder="Enter card number">
            </div>
    
    
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" class="expdate" name="expdate3" placeholder="Enter expiry date (MMYY)">
            </div>
    
    
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv3" placeholder="Enter CVV number">
            </div>
    
            <input id="" type="checkbox" name="cardcheck">Would you like to save your card information?</input>
            <button type="submit" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayConfirm()">Confirm payment</button></div>
        </div>
        <div id="payment1w" style="display: none;">
          <p>Paying for 1 week</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" id="price4" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" class="cname" name="cardname4" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" class="cardnum" name="cardnum4" placeholder="Enter card number">
            </div>
    
    
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" class="expdate" name="expdate4" placeholder="Enter expiry date (MMYY)">
            </div>
    
    
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv4" placeholder="Enter CVV number">
            </div>
    
            <input id="" type="checkbox" name="cardcheck">Would you like to save your card information?</input>
            <button type="submit" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="ShowPayConfirm()" onclick="redirec()">Confirm payment</button></div>
          </div>
        </form>

    </div>
    <div class="c" style="background-color:#ceddda;">
    <h2>Confirmation</h2>
    <div id="confirmation" style="display: none;"> 
    <br><br><p>Payment confirmed! Booking email sent to: {{UserEmail}}</p> <br><br>
    <div class="container d-flex flex-column justify-content-center align-items-center"><img src= {% static "ezgif.com-gif-maker.gif" %} alt="gif" id="gif" style="height: 30%; width: 30%; display: block;"> <br> <br> <p>The page should redirect in 5 seconds. If it takes longer, click the button below</p><button type="button" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e" onclick="redirect()">Redirect</button></div>


  </div>
    </div>
      </div>
  </div>

<!-- Card Info and Price Calculation Script -->

<script>
  var x = document.getElementsByClassName("cname");
    for(i=0; i<x.length; i++){
     x[i].value = "{{CardName}}";
    }
    x = document.getElementsByClassName("cardnum");
    for(i=0; i<x.length; i++){
     x[i].value = "{{CardNum}}";
    }
    x = document.getElementsByClassName("expdate");
    for(i=0; i<x.length; i++){
     x[i].value = "{{CardExp}}";
    }
  let price1 = ({{discount}} * {{RATE}} / 10000) / 100;
  document.getElementById("price1").innerHTML = price1.toFixed(2);
  let price2 = ({{discount}} * {{RATE}} / 10000 * 4)/100;
  document.getElementById("price2").innerHTML = price2.toFixed(2);
  let price3 = {{discount}} * {{RATE}} / 1000000 * 24;
  document.getElementById("price3").innerHTML = price3.toFixed(2);
  let price4 = {{discount}} * {{RATE}} / 1000000 * 168;
  document.getElementById("price4").innerHTML = price4.toFixed(2);
</script>

</body>
</html>
