<!-- THIS PAGE SHOWS A LIVE TRACKER OF HOW MANY SCOOTERS ARE AVAILABLE AT THE EDGE LOCATION-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={% static "scooterlist.js" %}></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <a href="/orderhistory">Orders</a>
      <!-- sprint 3- add a socials page-->
      <a href="/safety">Safety</a>
      <a href="/about">About Us</a>
      <a href="/scooterList">Scooter List</a>
  
    </div>

    <div class="logo"><a href="home"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="/home#middle"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

    <div class="headings" ><h1>The Edge Scooter Tracker! </h1></div>
    <div id="edgeScooters" style="font-weight: 800; padding-top: 32px; text-align: center; ; font-size: 250px;" width="50%" align="right">{{total}}</div>


    


   
       

  </body>
  
</html>
