<!-- THIS PAGE IS USED AS A PLACEHOLDER, AFTER USERS CHANGE THEIR PASSWORD, THAT IT HAS BEEN CONFIRMED, AND THERE IS A LINK FOR THEM TO RETURN TO FIRST HOME PAGE-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'employee.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="booking.js"></script>
    <script src="function.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
        <a href="#">Booking</a>
        <a href="safety">Safety</a>
        <a href="RankFeedback">Rank Feedback</a>
  
    </div>

    <div class="logo"><a href="/home"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
  </div>

  <script>
    var content = document.getElementsByTagName('body')[0];
    var darkMode = document.getElementById('dark-change');
    darkMode.addEventListener('click', function(){
        darkMode.classList.toggle('active');
        content.classList.toggle('night');
    })
</script>


    <div class="main-body">
      <div class="headings"><h1>PASSWORD CHANGED: CLICK BELOW TO GO BACK TO HOME PAGE</h1></div><br>
      <a href="first.html">               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp      &nbsp&nbsp&nbsp&nbsp&nbsp CLICK HERE FOR HOME PAGE</a>
      
  

</body>
</html>
