
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'employee.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src= {% static "booking.js" %}></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <a href="#">Wallet</a>
      <a href="safety">Safety</a>
      <a href="/about">About Us</a>
  
    </div>

    <div class="logo"><a href="/home"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="employeeprofile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
  </div>

  <script>
    var content = document.getElementsByTagName('body')[0];
    var darkMode = document.getElementById('dark-change');
    darkMode.addEventListener('click', function(){
        darkMode.classList.toggle('active');
        content.classList.toggle('night');
    })
</script>

    <div class="main-body">
      <div class="headings"><h1>Booking a Trip for Client</h1></div><br>

    <div class="r">
      <div class="c" style="background-color:#d95245;">
       <h2>Booking Options</h2>
       <br>
       <p style="text-align: left;">How many scooters would the client like?</p>
       <div style="background-color: #f11400; border-color: #000000; width: 27%;">
       <label for="scooters" style="margin-left: 3%; margin-top: 4%;">Quantity: </label>
        <select name="scooters" id="scooters">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select></div>
      <br><br>

        <p style="text-align: left;">How long do you want to ride for?</p>
        <button class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayement1h()">1 hour</button>
        <button class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayement4h()">4 hours</button>
        <button class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayement1d()">1 day</button>
        <button class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayement1w()">1 week</button>
    </div>
    <div class="c" style="background-color:#e66256;">
        <h2>Payment</h2>
        <div id="payment1h" style="display: none;">
          <p>Paying for 1 hour</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" name="cardname" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" name="cardnumber" placeholder="Enter card number">
            </div>
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" name="expdate" placeholder="Enter expiry date (mm/yyyy)">
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv" placeholder="Enter CVV number">
            </div>
            <button class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayConfirm()">Confirm payment</button>
        </div>
        </div>
        <div id="payment4h" style="display: none;">
          <p>Paying for 4 hours</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" name="cardname" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" name="cardnumber" placeholder="Enter card number">
            </div>
    
    
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" name="expdate" placeholder="Enter expiry date (mm/yyyy)">
            </div>
    
    
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv" placeholder="Enter CVV number">
            </div>
    
    
            <button type="submit" class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayConfirm()">Confirm payment</button>
        </div>
        </div>
        <div id="payment1d" style="display: none;">
          <p>Paying for 1 day</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" name="cardname" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" name="cardnumber" placeholder="Enter card number">
            </div>
    
    
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" name="expdate" placeholder="Enter expiry date (mm/yyyy)">
            </div>
    
    
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv" placeholder="Enter CVV number">
            </div>
    
    
            <button type="submit" class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayConfirm()">Confirm payment</button></div>
        </div>
        <div id="payment1w" style="display: none;">
          <p>Paying for 1 week</p>
          <div class="container">
            <p><strong>Total: </strong><span class="price" style="color:black"><b> </b></span></p>
        </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
        <label for="fname">Accepted Cards</label>
                <div class="icon-container" style="width: 25%;" class="align-items-center">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                </div>
            </div>
    
    
        <div class="container d-flex flex-column justify-content-center align-items-center">
    
            <div class="form-group">
                <label for="cname">Cardholder name</label>
                <br>
                <input type="text" id="cname" name="cardname" placeholder="Enter name on card">
            </div>
    
    
            <div class="form-group">
                <label for="cardnum">Card number</label>
                <br>
                <input type="text" id="cardnum" name="cardnumber" placeholder="Enter card number">
            </div>
    
    
            <div class="form-group">
                <label for="expdate">Expiry date</label>
                <br>
                <input type="text" id="expdate" name="expdate" placeholder="Enter expiry date (mm/yyyy)">
            </div>
    
    
            <div class="form-group">
                <label for="cvv">CVV</label>
                <br>
                <input type="text" id="cvv" name="cvv" placeholder="Enter CVV number">
            </div>
    
    
            <button class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="ShowPayConfirm()" onclick="redirec()">Confirm payment</button></div>
        </div>
    </div>
    <div class="c" style="background-color:#e06c62;">
    <h2>Confirmation</h2>
    <div id="confirmation" style="display: none;"> 
    <br><br><p>Client Payment Confirmed! Booking email sent to: (insert email here)</p> <br><br>
    <div class="container d-flex flex-column justify-content-center align-items-center"><img src={% static "ezgif.com-gif-maker.gif" %} alt="gif" id="gif" style="height: 30%; width: 30%; display: block;"> <br> <br> <p>The page should redirect in 5 seconds. If it takes longer, click the button below</p><button type="button" class="btn btn-primary" style="background-color: #f11400; border-color: #000000" onclick="redirect()">Redirect</button></div>


  </div>
    </div>
      </div>
  </div>

</body>
</html>
