<!-- THIS PAGE IS NOW USED AS A PLACEHOLDER FOR USERS TO CHANGE THEIR PASSWORDS, DIRECTED FROM THE PROFILE PAGE-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'employee.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="booking.js"></script>
    <script src="function.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
        <a href="#">Booking</a>
        <a href="safety">Safety</a>
        <a href="RankFeedback">Rank Feedback</a>
  
    </div>

    <div class="logo"><a href="home.html"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="employeeprofile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
  </div>

  <script>
    var content = document.getElementsByTagName('body')[0];
    var darkMode = document.getElementById('dark-change');
    darkMode.addEventListener('click', function(){
        darkMode.classList.toggle('active');
        content.classList.toggle('night');
    })
</script>


    <div class="main-body">
      <div class="headings"><h1>Change Password</h1></div><br>

      <form action="employee_booking_calendar_february.html" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="newpassword">Password <br>(must have at least 8  characters, 1 <br>capital letter, and 1 number)</label>
          <input type="password" class="form-control" id="newpassword" name="newpassword" aria-describedby="passwordHelp"
                 placeholder="Enter password">

                 <div class="container d-flex flex-column justify-content-center align-items-center"><input type="submit" class="btn btn-primary"  style="background-color: #8ca19e; border-color:#8ca19e;"> </div></form>
        </div>
</body>
</html>
