<!-- ALLOWS EMPLOYEE TO MAKE AN ACCOUNT FOR UNREGISTERED USER, THE USER WILL THEN GET AN ACCOUNT EMAIL CONFIRMATION WITH THEIR DETAILS, AND BE ENCOURAGED TO CHANGE THEIR PASSWORD THEMSELVES FOR SECURITY REASONS-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'employee.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="booking.js"></script>
    <script src="function.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
        <a href="#">Booking</a>
        <a href="safety">Safety</a>
        <a href="RankFeedback">Rank Feedback</a>
  
    </div>

    <div class="logo"><a href="home.html"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="employeeprofile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
  </div>

  <script>
    var content = document.getElementsByTagName('body')[0];
    var darkMode = document.getElementById('dark-change');
    darkMode.addEventListener('click', function(){
        darkMode.classList.toggle('active');
        content.classList.toggle('night');
    })
</script>


    <div class="main-body">
      <div class="headings"><h1>Booking a Trip for Client</h1></div><br>

      <div class="container d-flex flex-column justify-content-center align-items-center">

        <br>
        <div class="container d-flex flex-column justify-content-center align-items-center">
           <!-- <form action="/register" method="post">
              {% csrf_token %}             
              First name: <input type = "text" name = "fname" >  
              Last name: <input type = "text" name = "lname" >
              Email: <input type = "text" name = "email" >
              Confirm Email: <input type = "text" name = "confemail" >
              Password: <input type = "text" name = "password" >
              Date of birth: <input type = "date" name = "birthday" >
    
              <button type="submit">Submit</button>
            </form> -->
            <div class="container d-flex flex-column justify-content-center align-items-center">
              <form action="/empregister" method="POST">
                {% csrf_token %} 
                <div class="form-group">
                  <label for="fname">First Name:</label>
                  <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
            </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="confemail">Confirm Email</label>
              <input type="email" class="form-control" id="email" name="confemail" aria-describedby="emailHelp"
                     placeholder="Confirm email">
          </div>
          <div class="form-group">
            <label for="password">Password <br>(must have at least 8  characters, 1 <br>capital letter, and 1 number)</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"
                   placeholder="Enter password">
          </div>
          <div class="form-group">
            <label for="date">Date of birth</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
          </div>
          <div class="form-group">
          <p style="text-align: left;">Are you a:</p>
            <input type="radio" name="status" value="1" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e">Student</input>
            <input type="radio" name="status" value="2" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e">Senior</input>
            <input type="radio" name="status" value="0" class="btn btn-primary" style="background-color: #8ca19e; border-color: #8ca19e">Neither</input>
            <br>
          </div>
            {{errorMsg}}
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
      
              <label class="form-check-label" for="exampleCheck1" >I agree with terms and conditions</label>
          </div>
          <a class="nav-link" href="/termsConditions" target="_blank" style="color: #8ca19e;">Terms & Conditions <span class="sr-only">(current)</span></a>
            <div class="container d-flex flex-column justify-content-center align-items-center"><input type="submit" class="btn btn-primary"  style="background-color: #8ca19e; border-color:#8ca19e;"> </div></form>
            <br>
            <br>
            <br>


  
    <img src={% static "customerservice2.png" %} class="center">
      
</body>
</html>
