{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    Logged in as: {{userEmail}}
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <a href="#">Wallet</a>
      <a href="/safety">Safety</a>
      <a href="/about">About Us</a>
  
    </div>

    <div class="logo"><a href="/home"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
  </div>

  <script>
    var content = document.getElementsByTagName('body')[0];
    var darkMode = document.getElementById('dark-change');
    darkMode.addEventListener('click', function(){
        darkMode.classList.toggle('active');
        content.classList.toggle('night');
    })
</script>

    <div class="main-body">
      <div class="headings"><h1>Extend Booking</h1></div><br>

    <form action="userExtend" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="ref">Booking Reference</label>
        <input type="text" class="form-control" id="ref" name="ref" placeholder="Reference">
    </div>
    <div class="form-group">
        <label for="time">Extra Time</label>
        <select id="time" name="time">
          <option value="1">1 Hour</option>
          <option value="2">2 Hours</option>
          <option value="4">4 Hours</option>
          <option value="8">8 Hours</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary" style="background-color: #8ca19e; border-color:#8ca19e;">
        </form>



  </div>
    </div>
      </div>
  </div>

</body>
</html>
