{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>
  

  <body>
    <div class="navbar">
      <div class="links">
      <a href="/first">Home</a>
      <!-- Add this in for other home page <a href="#">Wallet</a> -->
      <a href="/initialSafety">Safety</a>
      <a href="/aboutF">About Us</a>
  
    </div>

    
    <div class="logo" style="float:left"><a href="/first"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

    <div class="headings"><h1>Welcome to Sküt</h1></div>

    <div style="position: right; height:0vh; width:1000vw">
      <img src= {% static "greencolumn.png" %} style="width:300px;height:40px;"></img>
      </div>

    <div style="position: center; height:0vh; width:20vw">
      <p><em>  <strong><ins><mark>{{noOrders}} SCOOTERS</mark></ins></strong> <b>SOLD SO FAR!!</b> </em></p> 
    </div>




  

    <div class="main-body">
      <p>Want to use Sküt? <a href="/registration" style="color: #8ca19e;">Sign Up</a>/ <a href="/login" style="color: #8ca19e;">Login</a></p>
    </div>
    <div style="position: left; height:0vh; width:1000vw">
      <img src= {% static "greencolumn.png" %} style="width:300px;height:40px;"></img>
      </div>
    <div style="position: left; height:0vh; width:20vw">
      <p><em>  <strong><ins><mark>{{AVGrating}}</mark></ins></strong> <b>Average Rating!!</b> </em></p> 
      <p></p>
      <img src= {% static "greencolumn.png" %} style="width:300px;height:40px;" > </img>
      
    </div>

    <div><p style="width:200px;height:0px; float: center;"> &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;  &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; <em><strong><ins><mark>{{totalhours}}</mark></ins></strong> <b>HOURS SKÜTTED!!</b> </em></p></div>




    
    
      <div class="container d-flex flex-column justify-content-center align-items-center">
        
      <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=leeds&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/divi-discount/"></a><br><a href="https://www.embedgooglemap.net">google maps web pages</a></div></div>

     
    
    
    </div>


  
  </body>

</html>