{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'first.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    Logged in as: {{userEmail}}
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <a href="/orderhistory">Orders</a>
      <!-- sprint 3- add a socials page-->
      <a href="/safety">Safety</a>
      <a href="/about">About Us</a>
      <a href="/scooterList">Scooter List</a>
  
    </div>
    <div class="logo"><a href="/first"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#middle"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

    <div class="headings"><h1>Welcome to Sküt!</h1></div>

<br><br>
    <div class="main-body">
      
      <div class="container d-flex flex-column justify-content-center align-items-center">
        
      <video height="600" width="1400" autoplay loop muted style="float: center;">  
       <source src={% static "skutstock.mov" %} type="video/mp4">
      </div>
    <br><br>
    <div style="text-align: center;"><a href="#middle" style="color: #8ca19e;">Click Here to View Map</a></div>
    <br><br>
    
    </div>
  </div>
    <div class="container d-flex flex-column justify-content-center align-items-center" style=" background-color: #8ca19e; padding-top: 2%; padding-bottom: 2%; padding-left: 5%; padding-right: 5%; text-align: center;width: 1440px;"><a href="/home"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a> <br><h2>Looking for e-scooters in Leeds? We've got you covered.</h2> <p style="font-size: 25px;">Skut was founded in 2022 by a team of scooting enthusiasts. We are commited to providing you with an amazing selection of quality e-scooters at affordable prices! We hope you enjoy using our service. Book a scooter <a href="#middle" style="color: #596563;">here</a> or find out more about us and giving feedback <a href="/about" style="color: #596563;">here</a>.</p> <br>
      <img src= {% static "s1.png" %} alt="animation">
    </div>
  <br>
  <br>
    
    <div id="middle"></div>
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="mapouter"><div class="gmap_canvas"><iframe src="https://www.google.com/maps/d/embed?mid=1o7sHFx2grrePEFjIk9Jfe8qLITv9y_-7&ehbc=2E312F" width="800px" height="600px"></iframe><a href="https://www.whatismyip-address.com/divi-discount/"></a><br><a href="https://www.embedgooglemap.net">google maps web pages</a></div></div>
      <form action="bookingPage">
        <input type="image" src={% static "BOOKHERE.jpg" %} class="btn btn-primary" style="width:170px;height:100px; padding: 0; border: 20px;border-top: #596563;"> 
      </form>
      <br><br><br><br>
  </div>
  </div>


    
      
  
    

       

  </body>
  
</html>
