<!-- LOGIN PAGE-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


        <body>
            <div class="navbar">
              <div class="links">
              <a href="/first">Home</a>
              <!-- Add this in for other home page <a href="#">Wallet</a> -->
              <a href="/initialSafety">Safety</a>
              <a href="/aboutF">About Us</a>
          
            </div>
        
            <div class="logo"><a href="/first"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
            
            <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
            <label id="dark-change"></label>
          </div>
      
          <script>
            var content = document.getElementsByTagName('body')[0];
            var darkMode = document.getElementById('dark-change');
            darkMode.addEventListener('click', function(){
                darkMode.classList.toggle('active');
                content.classList.toggle('night');
            })
        </script>
        
            <div class="headings"><h1>Welcome back to Sküt</h1></div>
        
        


    <div class="container d-flex flex-column justify-content-center align-items-center">
        <form action="userLogin" method="POST">
          {% csrf_token %}

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
           
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"
                       placeholder="Enter password">
            </div>
            {{errorMsg}}
            <input type="submit" class="btn btn-primary" style="background-color: #8ca19e; border-color:#8ca19e;">



        </form>
        <a class="nav-link" href="/registration" style="color: #8ca19e;">Don't have an account already? Register here <span class="sr-only">(current)</span></a>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">

        <label class="form-check-label" for="exampleCheck1" >I agree with terms and conditions</label>
    </div>
    <a class="nav-link" href="/termsConditions" target="_blank" style="color: #8ca19e;">Terms & Conditions <span class="sr-only">(current)</span></a>

</div>

</body>
