<!-- ALLOWS MANAGER TO SEE GRAPHS SHOWING WEEKLY VIEW AND DAILY INCOME AND ALSO TOTAL INCOME AND TOTAL SAVED FROM DISCOUNTS BY CUSTOMERS-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'manager.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src= {% static "booking.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
      <a href="#">Stats</a>
      <a href="/managerconfig">Manager Configuration</a>
      <a href="/ViewFeedback">Feedback</a>
  
    </div>

    <div class="logo"><a href="/home"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="/managerprofile"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

  


    <div class="main-body">
      <div class="headings"><h1>View Statistics</h1></div><br>
      
      

      <div style="position: center; height:0vh; width:165vw">
        <p><em><strong><ins><mark>£{{discountSAVED}}</mark></ins></strong> <b>saved using discounts!!</b> </em></p>
      <p><em>  <strong><ins><mark>£{{ALLTIMETOTAL}}</mark></ins></strong> <b>ALL TIME TOTAL SOLD!!</b> </em></p>
      </div>


<div style="position: center; height:0vh; width:30vw">
      <button onclick="draw_line()">Line</button>
      <button onclick="draw_bar()">Bar</button>
      <button onclick="draw_pie()">Pie</button>
      <button onclick="draw_bar_weekly()">Week View</button>
    </div>

<div class="chart-container" style="position: relative; height:90vh; width:35.5vw">
  <canvas id="myChart" width="200" height= "200"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script> 
  //Weekly Income listed by Hire Type
  var one_hour = {{hourly}};
  var four_hour = {{fourhourly}};
  var day = {{daily}};
  var week = {{weekly}};
  
  //Week View Total Income by Day
  var Mon = {{mon}};
  var Tue = {{tue}};
  var Wed = {{wed}};
  var Thur = {{thur}};
  var Fri = {{fri}};
  var Sat = {{sat}};
  var Sun = {{sun}};
  </script>

<script>
    var chart;
    var types = ['line', 'bar', 'pie'];
    var current_type = 0;
    draw_initial();
    
    function switch_type(){
      if(current_type++ == types.length-1) current_type = 0;
      switch(current_type){
        case 0: draw_line(); break;
        case 1: draw_bar(); break;
        case 2: draw_pie(); break;
        case 3: draw_bar_weekly(); break;
      }
    }
    
    function draw_pie() {
       if(chart) chart.destroy(); //  Destroys chart if one already exists
    
   
    
    var data_colors = [
        'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')',
      'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')',
      'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')',
      'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')',
    ];

     
     /* New chart */
     
     var ctx = document.getElementById('myChart').getContext('2d');
    chart = new Chart(ctx, {
       
        type: 'pie',
    
        // Data
        data: {
            labels: ['1hr', '4hr', '1 Day', 'Week'],
            datasets: [{
                label: 'Weekly Income (£)',
                backgroundColor: data_colors,
                borderColor: data_colors,
                data: [
              one_hour
            , four_hour
            , day
            , week
            ]
            }]
        },
    
        // Configuration options go here
        options: {}
    });
    }
    
    
    function draw_bar() {    
    if(chart) chart.destroy(); // Destroys chart if one already exists
    
    
    
    var data_colors = 'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')';
   
         
     /* New chart */
     
    var ctx = document.getElementById('myChart').getContext('2d');
    chart = new Chart(ctx, {
       
        type: 'bar',
    
        //Data
        data: {
            labels: ['1hr', '4hr', '1 Day', 'Week'],
            datasets: [{
                label: 'Weekly Income (£)',
                backgroundColor: data_colors,
                borderColor: data_colors,
                data: [
              one_hour
            , four_hour
            , day
            , week
            ]
            }]
        },
    
        // Configuration options go here
        options: {}
    });
    }
    
    function draw_line() {
   if(chart) chart.destroy(); // Destroys chart if one already exists

    
     var data_colors = 'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')';
    
         
     /* New chart */
     
    var ctx = document.getElementById('myChart').getContext('2d');
    chart = new Chart(ctx, {
   
        type: 'line',
    
        // Data
        data: {
            labels: ['1hr', '4hr', '1 Day', 'Week'],
            datasets: [{
                label: 'Weekly Income (£)',
                backgroundColor: data_colors,
                borderColor: data_colors,
                data: [
              one_hour
            , four_hour
            , day
            , week
            ]
            }]
        },
    
        // Configuration options go here
        options: {}
    });
    }
    
    function draw_bar_weekly() {    
    if(chart) chart.destroy(); //  Destroys chart if one already exists
    

    
    var data_colors = 'rgb('+(Math.floor(Math.random() *150)+75)+','+(Math.floor(Math.random() *200)+25)+','+(Math.floor(Math.random() *200)+25)+')';
   
         
     /* New chart */
     
    var ctx = document.getElementById('myChart').getContext('2d');
    chart = new Chart(ctx, {
        type: 'bar',
    
       
        data: {
            labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            datasets: [{
                label: 'Week View (£)',
                backgroundColor: data_colors,
                borderColor: data_colors,
                data: [
              Mon
            , Tue
            , Wed
            , Thur
            , Fri
            , Sat
            , Sun
            ]
            }]
        },
    
        // Configuration options go here
        options: {}
    });
    }

    function draw_initial() {
    draw_line();
    }


  
    
    </script>


    
    <!--<script>
  
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['1hr', '4hr', '1 Day', 'Week'],
        datasets: [{
            label: 'Weekly Income (£)',
            data: [
              one_hour
            , four_hour
            , day
            , week
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
-->

      
</body>
</html>
