<!-- ALLOWS MANAGER TO LOG OUT SECURELY-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'managerprofile.css' %}">
    <link rel="stylesheet" href=" {% static 'manager.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src= {% static "booking.js" %}></script>
    <script src= {% static "stats.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
        <a href="managerstatsPage">Stats</a>
        <a href="#">Manager Configuration</a>
        <a href="ViewFeedbackPage">Feedback</a>
  
    </div>

    <div class="logo"><a href="/home.html"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="managerprofile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>


<div class="container d-flex flex-column justify-content-center align-items-center" style="background-color: #8236bf; border-radius: 50px; width: 40%; height:40%; padding:2%; margin-top: 2%;">

    <div class="headings" style="text-align: left; margin-top: 2%;"><h1>Sküt Profile</h1></div>
    <div class="profile-pic">
      <script>
        var input = document.getElementById("output");
        localStorage.setItem("output", input.val());
        </script>
      <label class="-label" for="file">
        <span>Change Image</span>
      </label>
      <input id="file" type="file" accept="image/*" onchange="loadImg(event)"/><img src={% static "profile.jpg" %} id="output" alt="profile" width="20%">
    </div>
    <!--<a href="#" style="font-size: 10px; width: 100%; text-align: center; color: #141817;">Click here to change your profile image</a> -->
    </div>
    <div class="main-body" style="margin-top: 2%; text-align: center;">
    <div id="visual" style="margin-left: 10%;" class="container d-flex flex-column justify-content-center align-items-center">
      <p>Name:  Manager</p>
      <p>Email: manager@gmail.com</p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" value="Logout">
          LOG OUT
        </button>
      </form>
    </div> 
      

        

    
        
        
</div>
    

</body>
</html>
