<!-- PROFILE PAGE ALLOWS USERS TO CHANGE THEIR ICON, CHANGE THEIR PASSWORD, AND LOG OUT SECURELY-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'profile.css' %}">
    <link rel="stylesheet" href=" {% static 'login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'profile.js' %}"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

    <!--Logged in as: {{userEmail}}-->
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <!-- sprint 3- add a socials page-->
      <a href="/safety">Safety</a>
      <a href="/about">About Us</a>
      <a href="/scooterList">Scooter List</a>
  
    </div>

    <div class="logo"><a href="/home"> <img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="/home/#middle"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

    <div class="container d-flex flex-column justify-content-center align-items-center" style="background-color: #8ca19e; border-radius: 50px; width: 40%; height:40%; padding:2%; margin-top: 2%;">

    <div class="headings" style="text-align: left; margin-top: 2%;"><h1>Sküt Profile</h1></div>
    <div class="profile-pic">
      <script>
        var input = document.getElementById("output");
        localStorage.setItem("output", input.val());
        </script>
      <label class="-label" for="file">
        <span>Change Image</span>
      </label>
      <input id="file" type="file" accept="image/*" onchange="loadImg(event)"/><img src={% static "profile.jpg" %} id="output" alt="profile" width="20%">
    </div>
    <!--<a href="#" style="font-size: 10px; width: 100%; text-align: center; color: #141817;">Click here to change your profile image</a> -->
    </div>
    <div class="main-body" style="margin-top: 2%; text-align: center;">
    <div id="visual" style="margin-left: 10%;" class="container d-flex flex-column justify-content-center align-items-center">
      <p>First name:  {{userFname}}</p>
      <p>Last name: {{userLname}}</p> 
      <p>Email: {{userEmail}}</p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href=employee_booking_calendar_april> CHANGE PASSWORD?</a>
        <button type="submit" value="Logout">
          
          LOG OUT
        </button>
      </form>
    </div> 
       
</div>
  </body>
  
</html>
