<!-- THIS PAGE ALLOWS EMPLOYEES TO RANK FEEDBACK USING 0/1, IF RANKED AS A 1, THIS FEEDBACK WILL BE RANKED AS HIGH PRIORITY, AND THE MANAGER CAN THEN VIEW IT-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'employee.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css"></script>
    <script src= {% static "booking.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
        <a href="employee_booking_calendar_marchPag">Booking</a>
        <a href="safety">Safety</a>
        <a href="#">Rank Feedback</a>
  
    </div>

    <div class="logo"><a href="/home.html"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>


<div class="headings"><h1>Rank Feedback</h1></div>

<br>

<div class="container d-flex flex-column justify-content-center align-items-center">
  <form action="RankFeedback" method="POST">
    {% csrf_token %} 

    <div class="form-group">
      <label for="feedbacks1">{{text1}}</label>
      <input type="feedbacks1" class="form-control" id="feedbacks1" name="feedbacks1" 
             placeholder="0 or 1">
  </div>

  <div class="form-group">
    <label for="feedbacks2">{{text2}}</label>
    <input type="feedbacks2" class="form-control" id="feedbacks2" name="feedbacks2" aria-describedby="emailHelp"
           placeholder="0 or 1">
</div>

<div class="form-group">
  <label for="feedbacks3">{{text3}}</label>
  <input type="feedbacks3" class="form-control" id="feedbacks3" name="feedbacks3" aria-describedby="emailHelp"
         placeholder="0 or 1">
</div>

<div class="form-group">
      <label for="feedbacks4">{{text4}}</label>
      <input type="feedbacks4" class="form-control" id="feedbacks4" name="feedbacks4" aria-describedby="emailHelp"
             placeholder="0 or 1">
  </div>


  <div class="form-group">
    <label for="feedbacks5">{{text5}}</label>
    <input type="feedbacks5" class="form-control" id="feedbacks5" name="feedbacks5" aria-describedby="emailHelp"
           placeholder="0 or 1">
</div>

<div class="form-group">
  <label for="feedbacks6">{{text6}}</label>
  <input type="feedbacks6" class="form-control" id="feedbacks6" name="feedbacks6" aria-describedby="emailHelp"
         placeholder="0 or 1">
</div>

<div class="form-group">
  <label for="feedbacks7">{{text7}}</label>
  <input type="feedbacks7" class="form-control" id="feedbacks7" name="feedbacks7" aria-describedby="emailHelp"
         placeholder="0 or 1">
</div>

<div class="form-group">
  <label for="feedbacks8">{{text8}}</label>
  <input type="feedbacks8" class="form-control" id="feedbacks8" name="feedbacks8" aria-describedby="emailHelp"
         placeholder="0 or 1">
</div>

<div class="container d-flex flex-column justify-content-center align-items-center"><input type="submit" class="btn btn-primary"  style="background-color: #d75231; border-color:#000000;"> </div></form>
 
</body>
</html>
