<!-- RIDE PAGE, YOU ARE DIRECTED TO THIS AFTER YOU MAKE A BOOKING, SHOWS A RIDE TIMER, ALLOWS YOU TO EXTEND AND CANCEL BOOKING AND VIEW THE SINGLE RECEIPT-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <link rel="stylesheet" href="{% static 'ride.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>


  <body>
    <div class="navbar">
      <div class="links">
      <a href="/home">Home</a>
      <a href="/orderhistory">Orders</a>
      <a href="/safety">Safety</a>
      <a href="/about">About Us</a>
  
    </div>
    <a href="/ride"></a>

    <div class="logo"><a href="/home"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-cog"></i></a>
    </div>
    <div class="main-body">
      <div class="heading">You're on the move</div>
      <img src={% static "ezgif.com-gif-maker.gif" %} alt="gif">
    </div>

<div class="main-body">
  <div id="app"></div>
  <div id="time"></div>
  <div id="receipt"><button type='button' class='btn' onclick=" window.open('receipt','_blank')">Booking Confirmation</Button></div>
    <br>
    <div id="button"><button type='button' class='btn' onclick='window.location = "extend"'>Extend Booking</Button></div>
    <br>
  <div id="button"><button type='button' class='btn' onclick='window.location = "cancel"'>Cancel Booking</Button></div>
   <div id="info"></div>
</div>

<!--This is code used from https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ and edited to work within our setup-->
<script>
  const FULL_DASH_ARRAY = 283;
const WARNING_THRESHOLD = 10;
const ALERT_THRESHOLD = 5;

const COLOR_CODES = {
  info: {
    color: "green"
  },
  warning: {
    color: "orange",
    threshold: WARNING_THRESHOLD
  },
  alert: {
    color: "red",
    threshold: ALERT_THRESHOLD
  }
};

const TIME_LIMIT = {{secondsLeft}};
let timePassed = 0;
let timeLeft = TIME_LIMIT;
let timerInterval = null;
let remainingPathColor = COLOR_CODES.info.color;
let current = new Date();

document.getElementById("app").innerHTML = `
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
    timeLeft
  )}</span>
</div>
`;

startTimer();
realTime();


function onTimesUp() {
  clearInterval(timerInterval);
  document.getElementById("button").innerHTML = "<button type='button' class='btn'>Book Another Session</Button>";
  document.getElementById("time").innerHTML = "Booking Over";
}

function startTimer() {
  timerInterval = setInterval(() => {
    timePassed = timePassed += 1;
    timeLeft = TIME_LIMIT - timePassed;
    document.getElementById("base-timer-label").innerHTML = formatTime(
      timeLeft
    );
    setCircleDasharray();
    setRemainingPathColor(timeLeft);

    if (timeLeft === 0) {
      onTimesUp();
    }
  }, 1000);
}

function formatTime(time) {
  let days =  Math.floor(time/60/60/24);
  let hours  =  Math.floor(time/60/60) % 24;
  let minutes = Math.floor(time / 60) % 60;
  let seconds = time % 60;

  if (hours < 10) {
    hours = `0${hours}`;
  }
  if (minutes < 10) {
    minutes = `0${minutes}`;
  }
  if (seconds < 10) {
    seconds = `0${seconds}`;
  }

  return `${days}:${hours}:${minutes}:${seconds}`;
}

function setRemainingPathColor(timeLeft) {
  const { alert, warning, info } = COLOR_CODES;
  if (timeLeft <= alert.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(warning.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(alert.color);
  } else if (timeLeft <= warning.threshold) {
    document
      .getElementById("base-timer-path-remaining")
      .classList.remove(info.color);
    document
      .getElementById("base-timer-path-remaining")
      .classList.add(warning.color);
  }
}

function calculateTimeFraction() {
  const rawTimeFraction = timeLeft / TIME_LIMIT;
  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
}

function setCircleDasharray() {
  const circleDasharray = `${(
    calculateTimeFraction() * FULL_DASH_ARRAY
  ).toFixed(0)} 283`;
  document
    .getElementById("base-timer-path-remaining")
    .setAttribute("stroke-dasharray", circleDasharray);
}
function realTime(){
  console.log(current);

  if(TIME_LIMIT == 3600){
    current.setHours(current.getHours()+1);
  }

  if(TIME_LIMIT == 14400){
    current.setHours(current.getHours()+4);
  }

  if(TIME_LIMIT == 86400){
    current.setDate(current.getDate()+1);
  }

  if(TIME_LIMIT == 604800){
    current.setDate(current.getDate()+7);
  }
  document.getElementById("time").innerHTML = "Time session started: " + current.getUTCDate() +"/"+ (current.getMonth() + 1) +"/"+ current.getFullYear() + "," + current.getHours() + ":" 
+ current.getMinutes() + ":" + current.getSeconds();
}
function cancel(){
  onTimesUp();
  document.getElementById("info").innerHTML = "Booking Cancelled, Redirecting to Home Page.";
  setTimeout("redirect()", 2000);
}
function redirect(){  
  window.location.replace("home")
}
</script>




</body>
</html>
