{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'first.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar">
        <div class="links">
        <a href="/home">Home</a>
        <a href="/orderhistory">Orders</a>
        <!-- sprint 3- add a socials page-->
        <a href="/safety">Safety</a>
        <a href="/about">About Us</a>
        <a href="/scooterList">Scooter List</a>
    
      </div>
      <div class="logo"><a href="/first"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
      <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
      <a href="/home#middle"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>
  </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

    <br>
    <br>

    <div class="entry-content">

      <div class="r">
        <div class="container d-flex flex-column justify-content-center align-items-center" style="background-color:#a8bdba;">
        <h2><strong>Advice for riders</strong></h2>
<ul>
Sanitise your hands before and after riding.
<br>
Ride decisively and keep clear.
<br>
Look and show drivers what you plan to do, make eye contact where possible.
<br>
Always use lights after dark or when visibility is poor.
<br>
Wear a helmet if you are under the age of 18.
<br>
Try to maintain a safe distance when you ride your scooter.
</ul>
</div>
</div>

<br>
<br>

<img src={% static "safety.png" %} alt="Safety">

<br>
<br>
<br>
<br>
<video height="600" width = "1400" autoplay loop muted style = "float: right; margin-bottom: 5%;">
<source src={% static "safety.mp4" %} type="video/mp4">
</video>

<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>