{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
      <a href="/first">Home</a>
      <!-- Add this in for other home page <a href="#">Wallet</a> -->
      <a href="/firstSafety">Safety</a>
      <a href="/aboutF">About Us</a>
  
    </div>

    <div class="logo"><a href="/first"><img src= {% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href="/first"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>
    <!-- <div style="display: none;">
            <a class="navbar-brand" href="#">
                <img classs="img-responsive" width="130px" height="" src="https://cdn.pixabay.com/photo/2016/02/19/15/46/dog-1210559_960_720.jpg">
              </a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div> --><br>
<div style="font-family: sans-serif; margin: 2%; text-align: left;"><h2 style="margin-bottom: 0%;">Terms & Conditions</h2>
<p style="width:75%; margin: 2%; text-align: left;"> These are the terms & conditions for Sküt, the electric scooter company, debuting in Leeds in 5 different locations. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam erat, feugiat eu dui sed, lobortis pellentesque sem. Donec sit amet egestas eros, sit amet fringilla erat. Nulla cursus neque vel eros mollis, suscipit auctor ante aliquam. Ut in nulla ut velit porta mollis. Mauris molestie neque sit amet lacus semper aliquam. Pellentesque et velit faucibus, elementum ex facilisis, consequat enim. Donec posuere faucibus lacus sed vulputate. Proin vitae faucibus mi, quis sagittis libero. Vivamus malesuada, tortor imperdiet ullamcorper ullamcorper, lectus ante congue nunc, et euismod lorem velit nec risus. Pellentesque tristique eros dolor, ac aliquam libero facilisis eu. Integer luctus luctus auctor. Morbi pretium mattis odio, condimentum iaculis lectus volutpat nec. Aliquam tellus orci, viverra in mi ac, gravida commodo neque. Nullam ornare fringilla suscipit. Pellentesque tempus pulvinar diam vitae posuere. Ut sit amet nulla vehicula, feugiat justo quis, faucibus dolor. <br><br>

    Aliquam erat volutpat. Vivamus ac risus vel metus pulvinar cursus. Pellentesque tincidunt enim tortor, non rhoncus risus posuere vitae. Curabitur bibendum enim ut dui consequat cursus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed quis fermentum erat. Donec eget sem vitae dolor elementum consectetur quis ultrices justo. Fusce quis auctor neque. Pellentesque congue volutpat nisl, ac hendrerit turpis tristique in. Morbi vitae lorem vehicula, eleifend odio ut, convallis ligula. Phasellus consequat elit in quam feugiat mollis. Pellentesque ullamcorper neque sit amet erat aliquet faucibus. Ut non purus bibendum, ullamcorper lacus eu, rutrum orci.
    <br><br>
    Donec vehicula, elit eget tempor mollis, purus orci euismod purus, a egestas ligula justo eu sem. Cras eget tortor massa. Maecenas ut semper eros, quis tristique mauris. Vestibulum eu ante eget leo sagittis hendrerit a at nisl. Suspendisse feugiat pharetra dui, ut tristique tortor consectetur a. Etiam aliquet orci id dui finibus, a ultricies metus tempus. Phasellus molestie, metus ac tincidunt auctor, mauris quam varius lectus, eget elementum nibh quam at dui. Sed sit amet vehicula arcu. Cras ut tortor lacus. Suspendisse quis dui purus. Curabitur in justo quam. Donec vestibulum, mauris eget fringilla congue, sapien ipsum rhoncus turpis, quis tempor felis nunc at magna. Aliquam erat volutpat. Nam ultricies ut lacus sed iaculis. Vivamus mattis dolor non condimentum lacinia.
    <br><br>
    Donec feugiat tortor rutrum, aliquet leo non, ultricies ipsum. Etiam id massa feugiat, iaculis massa at, gravida tellus. Praesent egestas accumsan sapien vel ullamcorper. Nulla diam metus, ullamcorper id lectus a, volutpat ultrices massa. Phasellus nisl neque, condimentum ut tortor finibus, pretium porttitor mi. Sed sed viverra felis. Vestibulum luctus dolor neque, a congue est luctus vitae. Nulla elementum lorem metus, nec malesuada eros rhoncus malesuada. Aenean tincidunt nulla id est commodo, vitae malesuada turpis rutrum. Sed scelerisque metus et luctus aliquet. Fusce pretium mauris sed odio posuere fringilla. Vestibulum at blandit eros.
    <br><br>
    Curabitur a rhoncus metus. Ut interdum ligula quis volutpat suscipit. Donec at efficitur purus, in consequat lectus. Donec elit nisi, tempus eu velit venenatis, convallis placerat libero. Suspendisse consectetur euismod augue, eu faucibus diam elementum quis. Aenean ac ipsum sit amet magna dapibus pulvinar. Integer a ultricies enim, non vulputate leo. Aenean tincidunt a sem nec gravida. Nullam non dui et augue malesuada vulputate a eget quam. Maecenas non ligula sed neque commodo pulvinar sit amet iaculis nunc.</p>

</div>

</body>
