<!-- THIS PAGE ALLOWS THE MANAGER TO VIEW PRIORITISED FEEDBACK-->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <!-- Maps Reference: https://www.embedgooglemap.net/ -->

    <!-- Icons stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- html CSS scripts-->
    <link rel="stylesheet" href=" {% static 'manager.css' %}">
    <link rel="stylesheet" href=" {% static 'booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src= {% static "booking.js" %}></script>
    <script src= {% static "stats.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- Required meta tagss -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Sküt</title>
  </head>

  <body>
    <div class="navbar">
      <div class="links">
        <a href="managerstatsPage">Stats</a>
        <a href="managerconfig.html">Manager Configuration</a>
        <a href="#">Feedback</a>
  
    </div>

    <div class="logo"><a href="/home.html"><img src={% static "skutfinallogo.png" %} style="width:90px;height:60px; float: center;" alt="Logo"></a></div>
    
    <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
    <label  id="dark-change"></label>
    </div>

    <script>
      var content = document.getElementsByTagName('body')[0];
      var darkMode = document.getElementById('dark-change');
      darkMode.addEventListener('click', function(){
          darkMode.classList.toggle('active');
          content.classList.toggle('night');
      })
  </script>

  

<script>
    var viewfeedbackone = {{Ptext1}}
    var viewfeedbacktwo = {{Ptext2}}
    var viewfeedbackthree = {{Ptext3}}
    var viewfeedbackfour = {{Ptext4}}
    var viewfeedbackfive = {{Ptext5}}
    var viewfeedbacksix = {{Ptext6}}
    var viewfeedbackseven = {{Ptext7}}
    var viewfeedbackeight = {{Ptext8}}
</script>

    <div class="main-body">
      <div class="headings"><h1>View Prioritised Feedback</h1></div><br>

      <p id="viewfeedback1" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext1}}</p>
      <br>
      <p id="viewfeedback2" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext2}}</p>
      <br>
      <p id="viewfeedback3" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext3}}</p>
      <br>
      <p id="viewfeedback4" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext4}}</p>
      <br>
      <p id="viewfeedback5" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext5}}</p>
      <br>
      <p id="viewfeedback6" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext6}}</p>
      <br>
      <p id="viewfeedback7" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext7}}</p>
      <br>
      <p id="viewfeedback7" style="font-weight: 400; padding-top: 32px; text-align: center; ; font-size: 20px;" width="50%" align="right">{{Ptext8}}</p>

      <script>
        document.getElementById("viewfeedback1").innerHTML = {{Ptext1}};
        document.getElementById("viewfeedback2").innerHTML = {{Ptext2}};
        document.getElementById("viewfeedback3").innerHTML = {{Ptext3}};
        document.getElementById("viewfeedback4").innerHTML = {{Ptext4}};
        document.getElementById("viewfeedback5").innerHTML = {{Ptext5}};
        document.getElementById("viewfeedback6").innerHTML = {{Ptext6}};
        document.getElementById("viewfeedback7").innerHTML = {{Ptext7}};
        document.getElementById("viewfeedback8").innerHTML = {{Ptext8}};
    
    </script>


      
</body>
</html>
